@require "./palette.styl"
.footer
    margin-top: 30px;
    padding: 10px 0;
    background: $themeColor
    color: #666;
.footer-inner {
  width: 700px;
  margin: 0 auto
}
@media (min-width: 1600px) {
  .footer-inner {
    width: 900px;
  }
}