@require "./palette.styl"

::selection 
  background: $selectedBgColor;
  color: $selectedColor;


html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
  position: relative;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 15px;
    line-height: 2;
    color: #555;
    background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
a,
summary {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0 10px;
}
p {
  margin: 10px 0 10px 0;
}
li > p {
  margin: 0 0 0 0;
}
ul {
  margin: 0 0 0 0;
}
a {
    line-height: 36px;
    color: #555;
    text-decoration: none;
    outline: none;
    word-wrap: break-word;
    border-bottom-color: #ccc;
}
hr {
  margin: 20px 0;
  height: 2px;
}

@keyframes shaowMain
 0%
    opacity: 0
 100%
    opacity: 1

// 内容宽度
.container {
  position: relative;
  min-height: 100%;
  transition: padding 0.3s ease-in	
}
.header-inner {
  margin: 0 auto;
  width: 700px;

}
@media (min-width: 1600px) {
  .container .header-inner {
    width: 900px;
  }
}
.main-inner {
  opacity :0
  margin: 80px auto 0;
  width: 700px;
  animation: shaowMain 1s forwards
  animation-delay: 1s
}
@media (min-width: 1600px) {
  .container .main-inner {
    width: 900px;
  }
}



.side-wrap {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	flex-grow: 0;
    transition: all 0.5s
}
.sideOpened {
	width: 320px !important;
}
.sideOpenedContainer {
	padding-right: 300px;
}
.toggleButton {
	position: fixed;
	right: 10px;
	bottom: 20%;
}


/** 按钮 */
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .sidebar-toggle {
    display: none;
  }
}

.sidebar-toggle {
    transition: all 0.5s
    font-size: 35px
	position: fixed
    bottom: 5rem
    width: 2.5rem
    height: 2.5rem
    right : 32px
	padding: 5px
	line-height: 0
	z-index: 1050
	cursor: pointer
}
    
.sidebar-toggle svg 
    position: absolute

.sidebar-toggle-open 
    right: 32+300px
    transform: scaleX(-1)

@keyframes hoverAnimation {
  from,
  20%,
  53%,
  80%,
  to {
    top: 6px
  }

  40%,
  43% {
        top: -13px

  }

  70% {
        top: -7px

  }

  90% {
    top: -3px
    
  }
}

.sidebar-toggle-hover
    animation: hoverAnimation 1s

.global-ui>.go-to-top
    transition: all 0.5s
.sideOpenedContainer + .global-ui>.go-to-top
    right 21.5rem
