
// 主题色
$themeColor = #f5f5f5;
$lightColor = #fecc30

// 搜索框
$accentColor = #fecc30
$textColor = #555
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// 文字选中
$selectedBgColor = #262a30
$selectedColor = #fff




