// colors
$textColor = #555;
$accentColor = #1e90ff;

// 文字选中
$selectedBgColor = #262a30
$selectedColor = #fff

// 主题色
$themeColor = #f5f5f5;
$lightColor = #ffd573

$grayTextColor = #666
$lightTextColor = #999
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$navbarColor = #fff
$headerColor = #fff
$nprogressColor = $accentColor

// responsive breakpoints
$MQWide = 1440px
$MQNarrow = 1024px
$MQMobile = 768px
$MQMobileNarrow = 480px
