.sideBar
    height 100%
    width: 300px
    box-shadow: inset 0 2px 6px #000;
    background: #222;
    .sideBar-inner
        padding: 20px 10px;
        color: #999;
        text-align: center;
    
.info-box
    div 
        width: 100px
        height: 100px
        background: red
        margin: 20px auto

.nav-box
    margin: 20px auto
    display: flex;
    flex-direction: row;
    justify-content: center;
    .side-nav-item
        color: #999;
        border-left: 1px solid #333
        padding: 0 15px
        span
            line-height: 1.5rem;
            font-size: 13px
            display block
        .side-nav-number    
            font-weight: 600;
            font-size: 18px;
        
    .side-nav-item:first-child 
        border-left: none;

    .side-nav-item:hover
        color: #eee;